<footer>

  <div class="bg-info">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <p class="text-left font-weight-bolder my-5" style="height: 120px;"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark">
    <div class="container">
      <div class="row text-center text-light py-2">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          2020 © Code for Myself. All Rights Reserved.
        </div>

        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

</footer>
