<footer>

  <div class="bg-info d-none">
    <div class="container py-5">
      <div class="row justify-content-center">
        <p class="text-left font-weight-bolder my-5" style="height: 100px;">Currently hidden</p>
      </div>
    </div>
  </div>

  <div class="bg-dark">
    <div class="container">
      <div class="row text-center text-light py-3">

        <div class="col-md-4">
          <a href="#contact" class="text-light">info@code4myself.org</a>
        </div>

        <div class="col-md-4">
          2020 © Code for Myself. All Rights Reserved.
        </div>

        <div class="col-md-4">
          <ul class="list-unstyled mb-0">
            {{ range $.Site.Data.social }}
            <li class="list-inline-item text-light"> <a class="text-light" href="{{ .href }}">
              <svg class="feather">
                <use xlink:href="/elements/feather-sprite.svg#{{ .icon }}"/>
              </svg>
            </a></li>
            {{ end }}
          </ul>
        </div>

      </div>
    </div>
  </div>

</footer>
