{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
	<main role="main" class="flex-shrink-0 mt-5">

    <div class="bg-light text-dark">
      <div class="container">
        <div class="row pt-5 mt-4">
          <div class="col-lg-10 offset-lg-1 text-center">
            <img src="/elements/logo.png" alt="{{ .Site.Title }}" title="{{ .Site.Title }}">

            <p class="lead">
              <div class="my-5">
                <p class="display-4">Visualize your digitial footprint</p>
                <p class="py-3">Through your daily activities and communications, a vast digital footprint, or activity record data, is being generated. Have you ever looked at your digital footprint (personal information) in a specific way?</p>
                <a class="btn text-uppercase rounded-pill btn-info btn-normal" href="#join" role="button">Join us</a>
              </div>
            </p>
          </div>
        </div>

      </div>
    </div>

    {{ .Content }}
	</main>
{{ end }}
