{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
	<main role="main" class="flex-shrink-0 mt-4">

    <div class="bg-light text-dark py-5">
      <div class="container">
        <div class="row pt-5">
          <div class="col-lg-10 offset-lg-1 text-center">
            <img src="/elements/logo.png" class="img-fluid" alt="{{ .Site.Title }}" title="{{ .Site.Title }}">

            <p class="lead pt-4">
              <code>"ιχνιον" (ichnion) – a track, trace or footstep</code>
              <p class="display-4 pt-4">Visualize your digitial footprint</p>
              <p class="py-3">Through our daily activities and communications a vast digital footprint, our personal activity record data is being generated. <br>Have you ever looked at your digital footprint (personal information) in a specific way?</p>
              <a class="btn btn-info btn-lg" href="#about" role="button">Learn more</a>
            </p>
          </div>
        </div>

      </div>
    </div>

    {{ .Content }}
	</main>
{{ end }}
