<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-white bg-light text-dark pb-3">
    <div class="container">

      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">Code for Myself</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse flex-column" id="navbarCollapse">
        <ul class="navbar-nav ml-md-auto d-flex mt-2">
          <li class="nav-item font-weight-bolder ml-3">
            <a class="nav-link" href="#about">About</a>
          </li>

          <li class="nav-item font-weight-bolder ml-3">
            <a class="nav-link" href="#vision">Vision</a>
          </li>

          <li class="nav-item font-weight-bolder ml-3">
            <a class="nav-link" href="#join">Community</a>
          </li>

          <li class="nav-item font-weight-bolder ml-3">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

</header>
