
# Workflow to build and deploy site to Github Pages using Hugo

# Name of Workflow
name: Deploy static website

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
            hugo-version: 'latest'

      - name: Clean public directory
        run: rm -rf public

      - name: Install
        run: npm i && npm run build

      - name: Build
        run: hugo --theme=blank

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
